.event {
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 8rem 5rem;
		align-items: center;
	}

	&__text-box {
		display: flex;
		gap: 3rem;
		flex-direction: column;
	}

	display: block;
	@include maxW(767px) {
		&__container {
			grid-template-columns: 1fr;
			column-gap: 0;
			row-gap: 2rem;
		}

		.hiking {
			grid-row: 3;
		}

		.lantern__text {
			margin-bottom: 15rem;
		}
	}
}
