.header {
	background-color: #777;
	padding: 2.5rem 2rem;
	.logo {
		transform: translateX(-30%);
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__links {
			display: flex;
			align-items: center;
			gap: 3rem;
		}
		&__link {
		}
		&__icons {
		}
		&__icon {
		}
	}
}
