.header {
	padding: 2rem;
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	background-color: transparent;

	.logo {
		transform: translateX(-20%);
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__links {
			display: flex;
			align-items: center;
			gap: 1rem;
			color: white;
		}
		&__link {
			padding: 1rem 1.5rem;
			font-size: 1.4rem;
			transition: all 0.2s;
			border: 1px solid transparent;

			&:not(:last-child):hover {
				border: 1px solid white;
				border-radius: 10rem;
			}
		}

		&__icons {
			display: flex;
			align-items: center;
			gap: 2rem;
			cursor: pointer;
		}

		&__icon {
			font-size: 1.7rem;
			fill: white;
			background-color: rgba($color: white, $alpha: 0.2);
			padding: 5px;
			border-radius: 50%;
		}
	}

	.active {
		border: 1px solid white;
		border-radius: 10rem;
	}
}
