.header {
	padding: 2rem;
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	background-color: transparent;

	.logo {
		transform: translateX(-20%);
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__links {
			display: flex;
			align-items: center;
			gap: 3rem;
			color: white;
		}
		&__link {
			font-size: 1.4rem;

			&:hover {
				border: 1px solid white;
				border-radius: 10rem;
			}
		}

		&__icons {
			display: flex;
			align-items: center;
			gap: 2rem;
		}

		&__icon {
			font-size: 1.7rem;
			fill: white;
			background-color: rgba($color: white, $alpha: 0.2);
			padding: 5px;
			border-radius: 50%;
		}
	}

	.active {
		padding: 1rem 1.5rem;
		border: 1px solid white;
		border-radius: 10rem;
	}
}
