.hero {
	background-image: url(../img/road.webp);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;

	padding: 20rem 0;

	&__text-box {
		width: 50%;
	}
}
