.hero {
	background-image: url(../img/road.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	&__text-box {
		width: 50%;
	}
}
