.places {
	&__list {
		margin: 0 auto;
		max-width: 90rem;
		display: grid;
		grid-template-columns: 40rem 20rem 30rem;
		grid-template-rows: 15rem 33rem 4rem 48rem;
	}

	.road {
		background-image: url(../img/highway.webp);
		grid-column: 1/3;
		grid-row: 1/3;
		background-size: contain;
	}
	.explore {
		background-image: url(../img/landscape.webp);
	}
	.mountain {
		background-image: url(../img/standingonmountain.webp);
	}
	.sea {
		background-image: url(../img/sea.webp);
	}
}
