.places {
	&__list {
		display: grid;
		grid-template-columns: 40rem 20rem 30rem;
		grid-template-rows: 400px 400px;
	}

	.road {
		background-image: url(../img/highway.webp);
	}
	.explore {
		background-image: url(../img/landscape.webp);
	}
	.mountain {
		background-image: url(../img/standingonmountain.webp);
	}
	.sea {
		background-image: url(../img/sea.webp);
	}
}
