.pricing {
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 3rem;
	}

	&__img {
		border-radius: 1.5rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		box-shadow: 1rem 1rem 0.5rem rgba(grey, 0.1);
		background-color: #1b1b1b;
		padding-bottom: 3rem;
	}
}
